/* Miss Universe */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Hubballi";
}


/* Nav Bar Section */

#nav-bar {
    position: fixed;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 999;
}

#nav-bar img {
    width: 35%;
}

#nav-bar #logo {
    margin-left: 1.25rem;
}

#nav-bar ul {
    display: flex;
    width: 300px;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.25rem;
    margin-right: 1.25rem;
}


#nav-bar a {
    text-decoration: none;
    color: #141E27;
}

#home:hover {
    transform: scale(1.1);
}

#about:hover {
    transform: scale(1.1);
}

#products:hover {
    transform: scale(1.1);
}

/* Main Banner Section */

.banner {
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100vh;
    
}

.slider img {
    width: 100%;
    object-fit: cover;
}

.banner .overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5));
    position: absolute;
    top: 0;
}

.content {
    position: absolute;
    top: 45%;
    left: 5%;
    color: #EEEDDE;
}

.content h1 {
    font-size: 5rem;
    margin-bottom: 0.625rem;
}

.content h3 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.shop-btn {
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #EEEDDE;
    color: #141E27;
    transition: 0.5s;
}

.shop-btn:hover {
    background: #ff7d7d;
    color: #EEEDDE;
    transform: scale(1.1);
}

@media only screen and (max-width: 920px) {

}

/* About */

.about {
    width: 100%;
    height: 620px;
    display: flex;
    margin-bottom: 70px;
}

.about #left {
    margin: 0 40px;
}

.about #left h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.about #left p {
    font-size: 1.3rem;
}

.about #right {
    margin: 0 40px;
    overflow: hidden;
}

.about img {
    width: 100%;
    height: auto;
}

.contact-btn {
    padding: 10px 30px;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #EEEDDE;
    color: #141E27;
    transition: 0.5s;
}

.contact-btn:hover {
    background: #ff7d7d;
    color: #EEEDDE;
    transform: scale(1.1);
}

/* Products */

.product {
    position: relative;
    overflow: hidden;
    padding: 5rem 0;
    background-color: azure;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }